Repository AY2223S1-CS2103T-W16-2/tp, pull requests merged in 2022-10, with the labels that each got.

#141 Update Quick Start of user guide, reorganise content page
  docs/UserGuide.md
Labels: deliverables.Individual, documentation.UserGuide, documentation

#142 Add User Stories and Update Use Cases
  docs/DeveloperGuide.md
Labels: documentation.DeveloperGuide

#147 Add value preposition
  docs/DeveloperGuide.md
Labels: deliverables.Individual, documentation.DeveloperGuide, documentation

#143 Add Item model
  src/main/java/seedu/address/model/item/Item.java
  src/main/java/seedu/address/model/item/ItemBoughtDate.java
  src/main/java/seedu/address/model/item/ItemExpiryDate.java
  src/main/java/seedu/address/model/item/ItemName.java
  src/main/java/seedu/address/model/item/ItemQuantity.java
  src/main/java/seedu/address/model/item/ItemUnit.java
  src/main/java/seedu/address/model/item/itemvalidator/ItemBoughtDateValidator.java
  src/main/java/seedu/address/model/item/itemvalidator/ItemExpiryDateValidator.java
  src/main/java/seedu/address/model/item/itemvalidator/ItemNameValidator.java
  src/main/java/seedu/address/model/item/itemvalidator/ItemQuantityValidator.java
  src/main/java/seedu/address/model/item/itemvalidator/ItemUnitValidator.java
  src/main/java/seedu/address/model/validator/DateValidator.java
Labels: type.story, command.items

#153 Add use cases and user stories to DG
  docs/DeveloperGuide.md
Labels: documentation.DeveloperGuide

#154 Add purpose, scope and audience to UG
  docs/UserGuide.md
Labels: documentation.UserGuide

#152 Update UG Command Summary Table
  docs/UserGuide.md
Labels: documentation.UserGuide

#140 Add tag model
  src/main/java/seedu/address/model/AddressBook.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/ReadOnlyAddressBook.java
  src/main/java/seedu/address/model/tag/Tag.java
  src/main/java/seedu/address/model/tag/TagName.java
  src/main/java/seedu/address/model/tag/TagNameContainsKeywordsPredicate.java
  src/main/java/seedu/address/model/tag/UniqueTagList.java
  src/main/java/seedu/address/model/tag/exceptions/DuplicateTagException.java
  src/main/java/seedu/address/model/tag/exceptions/TagNotFoundException.java
  src/main/java/seedu/address/storage/JsonAdaptedTag.java
  src/main/java/seedu/address/ui/PersonCard.java
  src/test/java/seedu/address/logic/commands/CommandTestUtil.java
  src/test/java/seedu/address/logic/commands/personcommands/AddCommandTest.java
  src/test/java/seedu/address/logic/parser/AddCommandParserTest.java
  src/test/java/seedu/address/logic/parser/EditCommandParserTest.java
  src/test/java/seedu/address/logic/parser/ParserUtilTest.java
  src/test/java/seedu/address/model/AddressBookTest.java
  src/test/java/seedu/address/storage/JsonAdaptedPersonTest.java
  src/test/java/seedu/address/testutil/PersonUtil.java
Labels: type.story, command.tags

#174 Rename command word from "delete" to "del"
  src/main/java/seedu/foodrem/logic/commands/itemcommands/DeleteCommand.java
  src/test/java/seedu/foodrem/logic/LogicManagerTest.java
Labels: command.items, command

#163 Add Glossary section to User Guide
  docs/UserGuide.md
Labels: documentation.UserGuide

#162 Add Acknowledgements section to User Guide
  docs/UserGuide.md
Labels: deliverables.Individual, documentation.UserGuide, documentation

#176 Rename "Clear" to "Reset"
  src/main/java/seedu/foodrem/logic/commands/generalcommands/ResetCommand.java
  src/main/java/seedu/foodrem/logic/parser/FoodRemParser.java
  src/test/java/seedu/foodrem/logic/commands/itemcommands/EditCommandTest.java
  src/test/java/seedu/foodrem/logic/parser/FoodRemParserTest.java
Labels: deliverables.Individual, command.items, command

#160 Update "reset" command
  src/main/java/seedu/foodrem/logic/parser/FoodRemParser.java
Labels: deliverables.Individual, command.items, command

#175 Modify Find item messages and test to match FoodRem instead of AddressBook
  src/main/java/seedu/foodrem/logic/commands/itemcommands/FindCommand.java
  src/main/java/seedu/foodrem/model/FoodRem.java
  src/main/java/seedu/foodrem/model/tag/UniqueTagList.java
  src/test/java/seedu/foodrem/logic/LogicManagerTest.java
  src/test/java/seedu/foodrem/logic/commands/CommandTestUtil.java
  src/test/java/seedu/foodrem/logic/commands/itemcommands/AddCommandTest.java
  src/test/java/seedu/foodrem/logic/commands/itemcommands/EditCommandTest.java
  src/test/java/seedu/foodrem/logic/parser/FindCommandParserTest.java
  src/test/java/seedu/foodrem/model/UserPrefsTest.java
  src/test/java/seedu/foodrem/model/item/NameContainsKeywordsPredicateTest.java
  src/test/java/seedu/foodrem/storage/JsonFoodRemStorageTest.java
  src/test/java/seedu/foodrem/testutil/FoodRemBuilder.java
Labels: deliverables.Individual, command.items, command

#177 Add "newtag" command
  src/main/java/seedu/foodrem/logic/commands/itemcommands/AddCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/EditCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/AddTagCommand.java
  src/main/java/seedu/foodrem/logic/parser/CliSyntax.java
  src/main/java/seedu/foodrem/logic/parser/FoodRemParser.java
  src/main/java/seedu/foodrem/logic/parser/ParserUtil.java
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/AddCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/DeleteCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/EditCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/FindCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/tagcommandparser/AddTagCommandParser.java
  src/main/java/seedu/foodrem/model/tag/Tag.java
  src/main/java/seedu/foodrem/storage/JsonAdaptedTag.java
  src/test/java/seedu/foodrem/logic/commands/CommandTestUtil.java
  src/test/java/seedu/foodrem/logic/commands/itemcommands/AddCommandIntegrationTest.java
  src/test/java/seedu/foodrem/logic/commands/itemcommands/DeleteCommandTest.java
  src/test/java/seedu/foodrem/logic/commands/itemcommands/EditCommandTest.java
  src/test/java/seedu/foodrem/logic/commands/itemcommands/FindCommandTest.java
  src/test/java/seedu/foodrem/logic/commands/itemcommands/ListCommandTest.java
  src/test/java/seedu/foodrem/logic/commands/tagcommands/AddTagCommandIntegrationTest.java
  src/test/java/seedu/foodrem/logic/commands/tagcommands/AddTagCommandTest.java
  src/test/java/seedu/foodrem/logic/parser/AddCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/AddTagCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/DeleteCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/EditCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/FindCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/ParserUtilTest.java
  src/test/java/seedu/foodrem/model/FoodRemTest.java
  src/test/java/seedu/foodrem/model/tag/TagTest.java
  src/test/java/seedu/foodrem/storage/JsonFoodRemStorageTest.java
  src/test/java/seedu/foodrem/storage/JsonSerializableFoodRemTest.java
  src/test/java/seedu/foodrem/storage/StorageManagerTest.java
  src/test/java/seedu/foodrem/testutil/ItemUtil.java
  src/test/java/seedu/foodrem/testutil/TagBuilder.java
  src/test/java/seedu/foodrem/testutil/TagUtil.java
  src/test/java/seedu/foodrem/testutil/TypicalFoodRem.java
  src/test/java/seedu/foodrem/testutil/TypicalItems.java
  src/test/java/seedu/foodrem/testutil/TypicalTags.java
Labels: deliverables.Individual, priority.High, command.tags, command

#173 Convert Add command to New command
  src/main/java/seedu/foodrem/MainApp.java
  src/main/java/seedu/foodrem/logic/LogicManager.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/NewCommand.java
  src/main/java/seedu/foodrem/logic/parser/FoodRemParser.java
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/NewCommandParser.java
  src/main/java/seedu/foodrem/model/item/Item.java
  src/main/java/seedu/foodrem/model/item/ItemBoughtDate.java
  src/main/java/seedu/foodrem/model/item/ItemExpiryDate.java
  src/main/java/seedu/foodrem/model/item/ItemName.java
  src/main/java/seedu/foodrem/model/item/ItemUnit.java
  src/main/java/seedu/foodrem/model/item/itemvalidator/ItemBoughtDateValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidator/ItemExpiryDateValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidator/ItemNameValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidator/ItemQuantityValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidator/ItemUnitValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidator/Validator.java
  src/main/java/seedu/foodrem/model/util/SampleDataUtil.java
  src/main/java/seedu/foodrem/storage/JsonAdaptedItem.java
  src/main/java/seedu/foodrem/ui/ItemCard.java
  src/main/resources/view/MainWindow.fxml
  src/test/java/seedu/foodrem/logic/LogicManagerTest.java
  src/test/java/seedu/foodrem/logic/commands/itemcommands/NewCommandIntegrationTest.java
  src/test/java/seedu/foodrem/logic/commands/itemcommands/NewCommandTest.java
  src/test/java/seedu/foodrem/logic/parser/FoodRemParserTest.java
  src/test/java/seedu/foodrem/logic/parser/NewCommandParserTest.java
  src/test/java/seedu/foodrem/storage/JsonAdaptedItemTest.java
  src/test/java/seedu/foodrem/testutil/ItemUtil.java
Labels: deliverables.Individual, command.items, command

#161 Add Increment and Decrement Command
  src/main/java/seedu/foodrem/logic/commands/itemcommands/DecrementCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/IncrementCommand.java
  src/main/java/seedu/foodrem/logic/parser/DecrementCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/FoodRemParser.java
  src/main/java/seedu/foodrem/logic/parser/IncrementCommandParser.java
  src/main/java/seedu/foodrem/model/item/ItemQuantity.java
Labels: command.items, command

#158 Add Sort Command
  docs/DeveloperGuide.md
  src/main/java/seedu/foodrem/commons/core/Messages.java
  src/main/java/seedu/foodrem/logic/Logic.java
  src/main/java/seedu/foodrem/logic/LogicManager.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/SortCommand.java
  src/main/java/seedu/foodrem/logic/parser/CliSyntax.java
  src/main/java/seedu/foodrem/logic/parser/FoodRemParser.java
  src/main/java/seedu/foodrem/logic/parser/SortCommandParser.java
  src/main/java/seedu/foodrem/model/Model.java
  src/main/java/seedu/foodrem/model/ModelManager.java
  src/main/java/seedu/foodrem/model/item/ItemBoughtDate.java
  src/main/java/seedu/foodrem/model/item/ItemExpiryDate.java
  src/main/java/seedu/foodrem/model/item/ItemName.java
  src/main/java/seedu/foodrem/model/item/ItemQuantity.java
  src/main/java/seedu/foodrem/model/item/ItemUnit.java
  src/main/java/seedu/foodrem/model/item/itemcomparators/ItemBoughtDateComparator.java
  src/main/java/seedu/foodrem/model/item/itemcomparators/ItemComparator.java
  src/main/java/seedu/foodrem/model/item/itemcomparators/ItemExpiryDateComparator.java
  src/main/java/seedu/foodrem/model/item/itemcomparators/ItemNameComparator.java
  src/main/java/seedu/foodrem/model/item/itemcomparators/ItemQuantityComparator.java
  src/main/java/seedu/foodrem/model/item/itemcomparators/ItemUnitComparator.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemBoughtDateValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemExpiryDateValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemNameValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemQuantityValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemUnitValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/Validator.java
  src/main/java/seedu/foodrem/model/util/ChainComparator.java
  src/main/java/seedu/foodrem/ui/MainWindow.java
  src/test/java/seedu/foodrem/logic/commands/itemcommands/NewCommandTest.java
  src/test/java/seedu/foodrem/logic/commands/tagcommands/AddTagCommandTest.java
  src/test/java/seedu/foodrem/logic/parser/EditCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/NewCommandParserTest.java
  src/test/java/seedu/foodrem/storage/JsonAdaptedItemTest.java
Labels: deliverables.Individual, command.items, command

#178 Add FAQ into UG
  docs/UserGuide.md
Labels: deliverables.Individual, documentation.UserGuide, documentation

#172 Add "tag" and "untag" command (tags) to tag/untag an item
  src/main/java/seedu/foodrem/logic/commands/tagcommands/TagCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/UntagCommand.java
  src/main/java/seedu/foodrem/logic/parser/CliSyntax.java
  src/main/java/seedu/foodrem/logic/parser/FoodRemParser.java
  src/main/java/seedu/foodrem/logic/parser/ParserUtil.java
  src/main/java/seedu/foodrem/logic/parser/tagcommandparser/TagCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/tagcommandparser/UntagCommandParser.java
  src/main/java/seedu/foodrem/model/item/Item.java
Labels: deliverables.Individual, command.tags, command

#164 Add Glossary section to Developer Guide
  docs/DeveloperGuide.md
Labels: deliverables.Individual, documentation.DeveloperGuide, documentation

#171 Add tag command (tagging of items) UI
  src/main/java/seedu/foodrem/ui/ItemCard.java
  src/main/resources/view/ItemListCard.fxml
Labels: deliverables.Individual, command.tags, command

#179 Add "rename" tag command to rename a tag
  src/main/java/seedu/foodrem/logic/commands/tagcommands/AddTagCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/RenameTagCommand.java
  src/main/java/seedu/foodrem/logic/parser/FoodRemParser.java
  src/main/java/seedu/foodrem/logic/parser/tagcommandparser/RenameTagCommandParser.java
  src/test/java/seedu/foodrem/logic/commands/tagcommands/RenameTagCommandTest.java
  src/test/java/seedu/foodrem/logic/parser/FoodRemParserTest.java
  src/test/java/seedu/foodrem/logic/parser/RenameTagCommandParserTest.java
Labels: deliverables.Individual, priority.High, command.tags, command

#185 Refactor Glossary
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/_Glossary.md
Labels: documentation.UserGuide, documentation.DeveloperGuide, documentation

#155 Add Item Unit Tests
  src/main/java/seedu/foodrem/model/item/ItemBoughtDate.java
  src/main/java/seedu/foodrem/model/item/ItemExpiryDate.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemBoughtDateValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemExpiryDateValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemNameValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemQuantityValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemUnitValidator.java
  src/main/java/seedu/foodrem/model/util/DateParser.java
  src/test/java/seedu/foodrem/model/item/itemvalidators/ItemBoughtDateValidatorTest.java
  src/test/java/seedu/foodrem/model/item/itemvalidators/ItemExpiryDateValidatorTest.java
  src/test/java/seedu/foodrem/model/item/itemvalidators/ItemNameValidatorTest.java
  src/test/java/seedu/foodrem/model/item/itemvalidators/ItemQuantityValidatorTest.java
  src/test/java/seedu/foodrem/model/item/itemvalidators/ItemUnitValidatorTest.java
  src/test/java/seedu/foodrem/model/item/itemvalidators/ItemValidatorUtilTest.java
Labels: deliverables.Individual, command.items, command

#196 Redesign glossary and refactor UG/DG
  docs/DevOps.md
  docs/DeveloperGuide.md
  docs/Documentation.md
  docs/Logging.md
  docs/UserGuide.md
  docs/_Glossary.md
  docs/_config.yml
  docs/_dg/NFRs.md
  docs/_dg/UseCases.md
  docs/_dg/UserStories.md
  docs/_glossary/Argument.md
  docs/_glossary/BoughtDate.md
  docs/_glossary/Command.md
  docs/_glossary/CommandLine.md
  docs/_glossary/ExpiryDate.md
  docs/_glossary/Flag.md
  docs/_glossary/Input.md
  docs/_glossary/Item.md
  docs/_glossary/MSS.md
  docs/_glossary/Output.md
  docs/_glossary/Parameter.md
  docs/_glossary/PurchasingManager.md
  docs/_glossary/Quantity.md
  docs/_glossary/Syntax.md
  docs/_glossary/Tag.md
  docs/_glossary/UseCase.md
  docs/_glossary/UserStory.md
  docs/_includes/glossary.md
  docs/_ug/FAQ.md
  docs/_ug/Features.md
  docs/_ug/ItemsTags.md
  docs/_ug/Placeholders.html
  docs/_ug/QuickStart.md
  docs/_ug/features/ItemFeatures.md
  docs/_ug/features/TagFeatures.md
  docs/index.md
  docs/team/bryanljx.md
  docs/team/eugenetanwl3881.md
  docs/team/ferusel.md
  docs/team/richdom2185.md
  docs/team/yixiann.md
Labels: documentation.UserGuide, documentation.DeveloperGuide, documentation

#198 Add MVP version of FoodRem UI
  src/main/java/seedu/foodrem/ui/UiManager.java
  src/main/resources/view/CommandBox.fxml
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/Extensions.css
  src/main/resources/view/FoodRem.css
  src/main/resources/view/HelpWindow.css
  src/main/resources/view/ItemListCard.fxml
  src/main/resources/view/MainWindow.fxml
  src/main/resources/view/ResultDisplay.fxml
Labels: deliverables.Individual

#200 Add listtag command
  src/main/java/seedu/foodrem/logic/commands/tagcommands/ListTagCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/TagCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/UntagCommand.java
  src/main/java/seedu/foodrem/logic/parser/FoodRemParser.java
  src/main/java/seedu/foodrem/model/tag/Tag.java
  src/main/java/seedu/foodrem/model/tag/TagName.java
  src/main/java/seedu/foodrem/ui/ItemCard.java
Labels: deliverables.Individual, priority.High, command.tags

#199 Add "deletetag" command to delete a tag
  src/main/java/seedu/foodrem/logic/commands/itemcommands/EditCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/DeleteTagCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/UntagCommand.java
  src/main/java/seedu/foodrem/logic/parser/FoodRemParser.java
  src/main/java/seedu/foodrem/logic/parser/tagcommandparser/DeleteTagCommandParser.java
  src/main/java/seedu/foodrem/model/FoodRem.java
  src/main/java/seedu/foodrem/model/item/Item.java
  src/main/java/seedu/foodrem/storage/JsonAdaptedItem.java
  src/test/data/JsonFoodRemStorageTest/invalidAndValidItemFoodRem.json
  src/test/data/JsonFoodRemStorageTest/invalidItemFoodRem.json
  src/test/data/JsonSerializableFoodRemTest/duplicateItemFoodRem.json
  src/test/data/JsonSerializableFoodRemTest/invalidItemFoodRem.json
  src/test/data/JsonSerializableFoodRemTest/typicalItemsFoodRem.json
  src/test/java/seedu/foodrem/logic/LogicManagerTest.java
  src/test/java/seedu/foodrem/logic/commands/CommandTestUtil.java
  src/test/java/seedu/foodrem/logic/commands/itemcommands/EditCommandTest.java
  src/test/java/seedu/foodrem/logic/commands/tagcommands/DeleteTagCommandTest.java
  src/test/java/seedu/foodrem/logic/parser/DeleteTagCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/FoodRemParserTest.java
  src/test/java/seedu/foodrem/logic/parser/NewCommandParserTest.java
  src/test/java/seedu/foodrem/storage/JsonAdaptedItemTest.java
  src/test/java/seedu/foodrem/testutil/EditItemDescriptorBuilder.java
  src/test/java/seedu/foodrem/testutil/ItemBuilder.java
  src/test/java/seedu/foodrem/testutil/TypicalFoodRem.java
  src/test/java/seedu/foodrem/testutil/TypicalItems.java
  src/test/java/seedu/foodrem/testutil/TypicalTags.java
Labels: deliverables.Individual, priority.High, command.tags, command

#201 Modify help command to provide help for each individual command
  src/main/java/seedu/foodrem/MainApp.java
  src/main/java/seedu/foodrem/enums/CommandWord.java
  src/main/java/seedu/foodrem/logic/Logic.java
  src/main/java/seedu/foodrem/logic/LogicManager.java
  src/main/java/seedu/foodrem/logic/commands/CommandResult.java
  src/main/java/seedu/foodrem/logic/commands/generalcommands/ExitCommand.java
  src/main/java/seedu/foodrem/logic/commands/generalcommands/HelpCommand.java
  src/main/java/seedu/foodrem/logic/commands/generalcommands/ResetCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/DecrementCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/DeleteCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/EditCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/FindCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/IncrementCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/ListCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/NewCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/SortCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/ListTagCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/NewTagCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/RenameTagCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/TagCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/UntagCommand.java
  src/main/java/seedu/foodrem/logic/parser/FoodRemParser.java
  src/main/java/seedu/foodrem/logic/parser/generalcommandparser/HelpCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/DecrementCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/IncrementCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/SortCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/tagcommandparser/NewTagCommandParser.java
  src/main/java/seedu/foodrem/ui/HelpWindow.java
  src/main/java/seedu/foodrem/ui/MainWindow.java
  src/main/resources/view/HelpWindow.fxml
  src/test/java/seedu/foodrem/logic/commands/tagcommands/NewTagCommandIntegrationTest.java
  src/test/java/seedu/foodrem/logic/commands/tagcommands/NewTagCommandTest.java
  src/test/java/seedu/foodrem/logic/parser/FoodRemParserTest.java
  src/test/java/seedu/foodrem/logic/parser/generalcommandparser/HelpCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/itemcommandparser/DeleteCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/itemcommandparser/EditCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/itemcommandparser/FindCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/itemcommandparser/NewCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/tagcommandparser/NewTagCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/tagcommandparser/RenameTagCommandParserTest.java
  src/test/java/seedu/foodrem/testutil/TagUtil.java
Labels: command

#210 Add Sorting user stories to DG
  docs/_dg/UserStories.md
Labels: documentation.DeveloperGuide

#209 Add View command
  src/main/java/seedu/foodrem/commons/core/Messages.java
  src/main/java/seedu/foodrem/enums/CommandWord.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/ViewCommand.java
  src/main/java/seedu/foodrem/logic/parser/FoodRemParser.java
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/IncrementCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/ViewCommandParser.java
  src/main/java/seedu/foodrem/model/item/Item.java
  src/test/java/seedu/foodrem/logic/parser/generalcommandparser/HelpCommandParserTest.java
Labels: command.items

#212 Update help, edit and delete command
  docs/_ug/Features.md
  docs/_ug/features/ItemFeatures.md
  src/main/java/seedu/foodrem/logic/commands/itemcommands/EditCommand.java
Labels: documentation.UserGuide, documentation

#208 Improve tables to minimise HTML usage
  docs/UserGuide.md
  docs/_includes/table.liquid
  docs/_ug/Placeholders.html
  docs/_ug/Placeholders.md
  docs/_ug/commandSummary/ItemCommands.md
  docs/_ug/commandSummary/OtherCommands.md
  docs/_ug/commandSummary/TagCommands.md
  docs/_ug/commandSummary/itemCommands/dec.md
  docs/_ug/commandSummary/itemCommands/del.md
  docs/_ug/commandSummary/itemCommands/find.md
  docs/_ug/commandSummary/itemCommands/inc.md
  docs/_ug/commandSummary/itemCommands/list.md
  docs/_ug/commandSummary/itemCommands/new.md
  docs/_ug/commandSummary/itemCommands/set.md
  docs/_ug/commandSummary/itemCommands/sort.md
  docs/_ug/commandSummary/itemCommands/view.md
  docs/_ug/commandSummary/otherCommands/exit.md
  docs/_ug/commandSummary/otherCommands/help.md
  docs/_ug/commandSummary/otherCommands/reset.md
  docs/_ug/commandSummary/tagCommands/deletetag.md
  docs/_ug/commandSummary/tagCommands/listtag.md
  docs/_ug/commandSummary/tagCommands/newtag.md
  docs/_ug/commandSummary/tagCommands/renametag.md
  docs/_ug/commandSummary/tagCommands/tag.md
  docs/_ug/commandSummary/tagCommands/untag.md
  docs/_ug/placeholders/BOUGHT_DATE.md
  docs/_ug/placeholders/EXPIRY_DATE.md
  docs/_ug/placeholders/INDEX.md
  docs/_ug/placeholders/INDEX_LIST.md
  docs/_ug/placeholders/ITEM_NAME.md
  docs/_ug/placeholders/QUANTITY.md
  docs/_ug/placeholders/TAG_NAME.md
  docs/_ug/placeholders/UNIT.md
Labels: documentation.UserGuide, documentation.DeveloperGuide, documentation

#214 Add missing user stories to DG
  docs/_dg/UserStories.md
Labels: deliverables.Individual, documentation.DeveloperGuide, documentation

#211 Allow easier extension to help command by removing switch case
  src/main/java/seedu/foodrem/enums/CommandWord.java
  src/main/java/seedu/foodrem/logic/commands/generalcommands/HelpCommand.java
  src/main/java/seedu/foodrem/logic/parser/generalcommandparser/HelpCommandParser.java
  src/test/java/seedu/foodrem/logic/parser/generalcommandparser/HelpCommandParserTest.java
Labels: command.items, command

#230 Add Implementation details in DG
  docs/DeveloperGuide.md
  docs/_dg/Implementation.md
  docs/diagrams/TagSequenceDiagram.puml
  docs/images/TagSequenceDiagram.png
Labels: documentation.DeveloperGuide, documentation

#232 Add Sort Command UML
  docs/DeveloperGuide.md
  docs/_dg/Implementation.md
  docs/diagrams/SortItemsSequenceDiagram.puml
  docs/diagrams/TagSequenceDiagram.puml
  docs/images/SortItemsSequenceDiagram.png
  docs/images/TagSequenceDiagram.png
Labels: documentation.DeveloperGuide

#231 Update DG
  docs/DeveloperGuide.md
  docs/_dg/Implementation.md
  docs/_dg/ModelComponent.md
  docs/_dg/TaggingFunctionality.md
  docs/_ug/features/ItemFeatures.md
  docs/diagrams/BetterModelClassDiagram.puml
  docs/diagrams/ModelClassDiagram.puml
  docs/images/BetterModelClassDiagram.png
  docs/images/ModelClassDiagram.png
Labels: deliverables.Individual, priority.High, documentation.DeveloperGuide, documentation

#234 Add UML diagram for HelpCommand
  docs/_dg/Implementation.md
  docs/diagrams/HelpSequenceDiagram.puml
  docs/images/HelpSequenceDiagram.png
Labels: deliverables.Individual, documentation.DeveloperGuide, documentation

#238 Renovate website
  README.md
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/_dg/Implementation.md
  docs/_dg/ModelComponent.md
  docs/_dg/TaggingFunctionality.md
  docs/_includes/custom-head.html
  docs/_includes/toc.html
  docs/_layouts/default.html
  docs/_sass/foodrem.scss
  docs/_sass/minima/_base.scss
  docs/_sass/minima/_layout.scss
  docs/_sass/minima/custom-styles.scss
  docs/_sass/minima/initialize.scss
  docs/_sass/toc.scss
  docs/_ug/features/ItemFeatures.md
  docs/assets/css/style.scss
  docs/index.md
Labels: documentation.UserGuide, documentation.DeveloperGuide, documentation

#229 Add price field in item
  src/main/java/seedu/foodrem/commons/util/ValidationUtil.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/DecrementCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/EditCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/IncrementCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/TagCommand.java
  src/main/java/seedu/foodrem/logic/parser/CliSyntax.java
  src/main/java/seedu/foodrem/logic/parser/ParserUtil.java
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/EditCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/NewCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/SortCommandParser.java
  src/main/java/seedu/foodrem/model/item/Item.java
  src/main/java/seedu/foodrem/model/item/ItemBoughtDate.java
  src/main/java/seedu/foodrem/model/item/ItemExpiryDate.java
  src/main/java/seedu/foodrem/model/item/ItemPrice.java
  src/main/java/seedu/foodrem/model/item/itemcomparators/ItemPriceComparator.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemBoughtDateValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemExpiryDateValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemNameValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemPriceValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemQuantityValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemUnitValidator.java
  src/main/java/seedu/foodrem/model/util/DateParser.java
  src/main/java/seedu/foodrem/model/util/SampleDataUtil.java
  src/main/java/seedu/foodrem/storage/JsonAdaptedItem.java
  src/test/data/JsonSerializableFoodRemTest/duplicateItemFoodRem.json
  src/test/data/JsonSerializableFoodRemTest/duplicateTagFoodRem.json
  src/test/data/JsonSerializableFoodRemTest/invalidItemFoodRem.json
  src/test/data/JsonSerializableFoodRemTest/invalidTagFoodRem.json
  src/test/data/JsonSerializableFoodRemTest/typicalFoodRem.json
  src/test/data/JsonSerializableFoodRemTest/typicalItemsFoodRem.json
  src/test/java/seedu/foodrem/logic/LogicManagerTest.java
  src/test/java/seedu/foodrem/logic/commands/CommandTestUtil.java
  src/test/java/seedu/foodrem/logic/commands/itemcommands/EditItemDescriptorTest.java
  src/test/java/seedu/foodrem/logic/parser/itemcommandparser/EditCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/itemcommandparser/NewCommandParserTest.java
  src/test/java/seedu/foodrem/model/item/itemvalidators/ItemBoughtDateValidatorTest.java
  src/test/java/seedu/foodrem/model/item/itemvalidators/ItemExpiryDateValidatorTest.java
  src/test/java/seedu/foodrem/model/item/itemvalidators/ItemNameValidatorTest.java
  src/test/java/seedu/foodrem/model/item/itemvalidators/ItemQuantityValidatorTest.java
  src/test/java/seedu/foodrem/model/item/itemvalidators/ItemUnitValidatorTest.java
  src/test/java/seedu/foodrem/storage/JsonAdaptedItemTest.java
  src/test/java/seedu/foodrem/testutil/EditItemDescriptorBuilder.java
  src/test/java/seedu/foodrem/testutil/ItemBuilder.java
  src/test/java/seedu/foodrem/testutil/ItemUtil.java
  src/test/java/seedu/foodrem/testutil/MessageToUser.java
  src/test/java/seedu/foodrem/testutil/TypicalItems.java
Labels: command.items, command

#235 Added Tests for Tag Commands
  src/main/java/seedu/foodrem/logic/commands/tagcommands/TagCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/UntagCommand.java
  src/test/java/seedu/foodrem/logic/commands/CommandTestUtil.java
  src/test/java/seedu/foodrem/logic/commands/tagcommands/TagCommandTest.java
  src/test/java/seedu/foodrem/logic/commands/tagcommands/UntagCommandTest.java
  src/test/java/seedu/foodrem/logic/parser/tagcommandparser/TagCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/tagcommandparser/UntagCommandParserTest.java
  src/test/java/seedu/foodrem/testutil/TagBuilder.java
  src/test/java/seedu/foodrem/testutil/TypicalFoodRem.java
  src/test/java/seedu/foodrem/testutil/TypicalItems.java
Labels: deliverables.Individual, command.tags

#233 Move enum package to commons and remove traces of AB-3 from DG
  docs/DeveloperGuide.md
  docs/diagrams/ArchitectureSequenceDiagram.puml
  docs/diagrams/CommitActivityDiagram.puml
  docs/diagrams/DeleteSequenceDiagram.puml
  docs/diagrams/LogicClassDiagram.puml
  docs/diagrams/ParserClasses.puml
  docs/diagrams/StorageClassDiagram.puml
  docs/diagrams/UiClassDiagram.puml
  docs/diagrams/UndoRedoState0.puml
  docs/diagrams/UndoRedoState1.puml
  docs/diagrams/UndoRedoState2.puml
  docs/diagrams/UndoRedoState3.puml
  docs/diagrams/UndoRedoState4.puml
  docs/diagrams/UndoRedoState5.puml
  docs/diagrams/UndoSequenceDiagram.puml
  src/main/java/seedu/foodrem/commons/enums/CommandType.java
  src/main/java/seedu/foodrem/logic/commands/generalcommands/ExitCommand.java
  src/main/java/seedu/foodrem/logic/commands/generalcommands/HelpCommand.java
  src/main/java/seedu/foodrem/logic/commands/generalcommands/ResetCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/DecrementCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/DeleteCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/EditCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/FindCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/IncrementCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/ListCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/NewCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/SortCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/ViewCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/DeleteTagCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/ListTagCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/NewTagCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/RenameTagCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/TagCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/UntagCommand.java
  src/main/java/seedu/foodrem/logic/parser/FoodRemParser.java
  src/main/java/seedu/foodrem/logic/parser/generalcommandparser/HelpCommandParser.java
  src/test/java/seedu/foodrem/logic/LogicManagerTest.java
  src/test/java/seedu/foodrem/logic/parser/FoodRemParserTest.java
  src/test/java/seedu/foodrem/logic/parser/generalcommandparser/HelpCommandParserTest.java
  src/test/java/seedu/foodrem/testutil/ItemUtil.java
  src/test/java/seedu/foodrem/testutil/TagUtil.java
Labels: deliverables.Individual, documentation.DeveloperGuide, documentation

#241 Enable assertions for Week 10 Team Task
  build.gradle
Labels: deliverables.Group

#251 Fix styling-related bugs in markdown files
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/_dg/Implementation.md
  docs/_dg/TaggingFunctionality.md
  docs/_sass/foodrem.scss
  docs/_sass/minima/_base.scss
Labels: type.enhancement, priority.High, priority.Medium, documentation.UserGuide, documentation.DeveloperGuide, documentation, bug

#252 Fix broken JAR file CD workflow
  .github/workflows/build.yml
Labels: priority.High, bug

#253 Fix JAR file CD release time
  .github/workflows/build.yml
Labels: priority.High, bug

#260 Fix website compile error
  docs/UserGuide.md
  docs/_ug/Commands.md
  docs/_ug/commandSummary/ItemCommands.md
Labels: priority.High, documentation.UserGuide, documentation, bug

#255 Standardise help command
  copyright.txt
  src/main/java/seedu/foodrem/commons/enums/CommandType.java
  src/main/java/seedu/foodrem/logic/commands/generalcommands/HelpCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/DecrementCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/IncrementCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/RenameTagCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/TagCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/UntagCommand.java
  src/main/java/seedu/foodrem/logic/parser/CliSyntax.java
  src/main/java/seedu/foodrem/logic/parser/tagcommandparser/TagCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/tagcommandparser/UntagCommandParser.java
  src/main/java/seedu/foodrem/ui/MainWindow.java
  src/main/java/seedu/foodrem/ui/UiManager.java
  src/main/resources/images/address_book_32.png
  src/main/resources/images/foodrem.png
  src/main/resources/view/HelpWindow.css
  src/main/resources/view/MainWindow.fxml
  src/test/java/seedu/foodrem/commons/util/AppUtilTest.java
  src/test/java/seedu/foodrem/logic/commands/CommandTestUtil.java
  src/test/java/seedu/foodrem/logic/commands/tagcommands/RenameTagCommandTest.java
  src/test/java/seedu/foodrem/logic/commands/tagcommands/TagCommandTest.java
  src/test/java/seedu/foodrem/logic/commands/tagcommands/UntagCommandTest.java
  src/test/java/seedu/foodrem/logic/parser/generalcommandparser/HelpCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/tagcommandparser/TagCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/tagcommandparser/UntagCommandParserTest.java
Labels: command.items

#267 Reformat markdown files
  docs/SettingUp.md
  docs/Testing.md
  docs/_glossary/.markdownlint.json
  docs/_glossary/Flag.md
  docs/_glossary/Placeholder.md
  docs/_ug/HowToUseUserGuide.md
  docs/_ug/ItemsTags.md
  docs/_ug/QuickStart.md
  docs/_ug/Troubleshooting.md
  docs/_ug/TryingFirstCommand.md
  docs/_ug/UsingFoodRem.md
  docs/_ug/commandSummary/itemCommands/find.md
  docs/_ug/commands/GeneralCommands.md
  docs/_ug/commands/ItemCommands.md
  docs/_ug/commands/TagCommands.md
  docs/_ug/placeholders/PRICE.md
Labels: documentation.UserGuide, documentation.DeveloperGuide, documentation

#269 Fix table markdown parsing
  docs/_ug/commandSummary/ItemCommands.md
  docs/_ug/commandSummary/OtherCommands.md
  docs/_ug/commandSummary/TagCommands.md
Labels: priority.High, documentation.UserGuide, documentation.DeveloperGuide, documentation, bug

#265 Remove duplicate list marker in task lists
  docs/_sass/foodrem.scss
Labels: documentation.UserGuide, documentation.DeveloperGuide, documentation, bug

#278 Update DG
  docs/DeveloperGuide.md
  docs/SettingUp.md
  docs/Testing.md
  docs/_dg/InstructionsForManualTesting.md
  docs/_dg/TaggingFunctionality.md
  docs/_dg/UseCases.md
  docs/_dg/UserStories.md
  docs/diagrams/ArchitectureSequenceDiagram.puml
  docs/diagrams/DeleteSequenceDiagram.puml
  docs/diagrams/LogicClassDiagram.puml
  docs/images/ArchitectureSequenceDiagram.png
  docs/images/DeleteSequenceDiagram.png
  docs/images/LogicClassDiagram.png
  docs/images/ParserClasses.png
  docs/images/UiClassDiagram.png
Labels: deliverables.Individual, deliverables.Group, priority.High, documentation.DeveloperGuide, documentation

#277 Restyle website and add quick reference section to glossary
  docs/_glossary/Argument.md
  docs/_glossary/BoughtDate.md
  docs/_glossary/Command.md
  docs/_glossary/CommandLine.md
  docs/_glossary/ExpiryDate.md
  docs/_glossary/Flag.md
  docs/_glossary/Input.md
  docs/_glossary/Item.md
  docs/_glossary/MSS.md
  docs/_glossary/Output.md
  docs/_glossary/Parameter.md
  docs/_glossary/Placeholder.md
  docs/_glossary/PurchasingManager.md
  docs/_glossary/Quantity.md
  docs/_glossary/Syntax.md
  docs/_glossary/Tag.md
  docs/_glossary/UseCase.md
  docs/_glossary/UserStory.md
  docs/_includes/custom-head.html
  docs/_includes/glossary.md
  docs/_sass/foodrem.scss
  docs/_sass/minima/_base.scss
  docs/_sass/minima/initialize.scss
  docs/_sass/minima/skins/classic.scss
Labels: type.enhancement, priority.Medium, documentation.UserGuide, documentation.DeveloperGuide, documentation

#280 Support parsing and rendering admonitions in Markdown
  copyright.txt
  docs/_config.yml
  docs/_includes/admonitions.liquid
  docs/_includes/custom-head.html
  docs/_layouts/page.html
  docs/_sass/admonitions.scss
  docs/_sass/minima/_base.scss
  docs/_ug/commands/ItemCommands.md
  docs/assets/css/style.scss
Labels: type.enhancement, priority.Medium, documentation.UserGuide, documentation.DeveloperGuide, documentation

#281 Small Fixes for DG Headers for Use Cases
  docs/_dg/UseCases.md
Labels: documentation.DeveloperGuide

#282 Fix index out of bound bug and standardise naming of index across item command
  src/main/java/seedu/foodrem/logic/commands/itemcommands/DeleteCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/ViewCommand.java
Labels: bug

#274 Fix "Rename tag to same name is possible" bug
  src/main/java/seedu/foodrem/logic/commands/tagcommands/RenameTagCommand.java
  src/test/java/seedu/foodrem/logic/commands/tagcommands/RenameTagCommandTest.java
Labels: command.tags, command, bug

#287 Minor DG updates
  docs/DeveloperGuide.md
  docs/_dg/Implementation.md
  docs/_dg/InstructionsForManualTesting.md
  docs/_dg/UseCases.md
  docs/diagrams/TagSequenceDiagram.puml
  docs/images/TagSequenceDiagram.png
Labels: documentation.DeveloperGuide

#290 Restructure expiry date and bought date to use singleton design pattern
  src/main/java/seedu/foodrem/logic/parser/ParserUtil.java
  src/main/java/seedu/foodrem/model/item/Item.java
  src/main/java/seedu/foodrem/model/item/ItemBoughtDate.java
  src/main/java/seedu/foodrem/model/item/ItemExpiryDate.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemBoughtDateValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemExpiryDateValidator.java
  src/main/java/seedu/foodrem/model/util/SampleDataUtil.java
  src/main/java/seedu/foodrem/storage/JsonAdaptedItem.java
  src/main/java/seedu/foodrem/ui/ItemCard.java
  src/test/java/seedu/foodrem/logic/parser/ParserUtilTest.java
  src/test/java/seedu/foodrem/testutil/EditItemDescriptorBuilder.java
  src/test/java/seedu/foodrem/testutil/ItemBuilder.java
  src/test/java/seedu/foodrem/testutil/MessageToUser.java
Labels: bug

#292 Fix errors for UG Draft
  docs/_glossary/Argument.md
  docs/_glossary/BoughtDate.md
  docs/_glossary/CommandLine.md
  docs/_glossary/Item.md
  docs/_glossary/MSS.md
  docs/_glossary/Quantity.md
  docs/_glossary/UseCase.md
  docs/_glossary/UserStory.md
  docs/_ug/HowToUseUserGuide.md
  docs/_ug/Installation.md
  docs/_ug/ItemsTags.md
  docs/_ug/TryingFirstCommand.md
  docs/_ug/UsingFoodRem.md
  docs/_ug/commands/GeneralCommands.md
  docs/_ug/commands/ItemCommands.md
  docs/_ug/commands/TagCommands.md
  docs/_ug/placeholders/ITEM_NAME.md
Labels: documentation.UserGuide

#301 Add item tests and fix hashcode
  src/main/java/seedu/foodrem/model/item/ItemPrice.java
  src/main/java/seedu/foodrem/model/item/ItemQuantity.java
  src/test/java/seedu/foodrem/model/item/ItemTest.java
Labels: priority.High, severity.Medium, command.items, command, bug

#298 Fix storage modification causing bugs
  src/main/java/seedu/foodrem/model/tag/UniqueTagList.java
  src/main/java/seedu/foodrem/model/util/SampleDataUtil.java
  src/main/java/seedu/foodrem/storage/JsonSerializableFoodRem.java
  src/test/data/JsonSerializableFoodRemTest/typicalItemsFoodRem.json
  src/test/java/seedu/foodrem/logic/commands/tagcommands/UntagCommandTest.java
  src/test/java/seedu/foodrem/storage/JsonSerializableFoodRemTest.java
  src/test/java/seedu/foodrem/testutil/TypicalFoodRem.java
Labels: bug

#303 Show empty foodrem when data file is corrupted
  src/main/java/seedu/foodrem/MainApp.java
Labels: bug

#302 Add Filter Tag Command
  src/main/java/seedu/foodrem/commons/core/Messages.java
  src/main/java/seedu/foodrem/commons/enums/CommandType.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/FilterCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/FilterTagCommand.java
  src/main/java/seedu/foodrem/logic/parser/FoodRemParser.java
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/FilterTagCommandParser.java
  src/test/java/seedu/foodrem/logic/commands/generalcommands/HelpCommandTest.java
  src/test/java/seedu/foodrem/logic/commands/itemcommands/FilterTagCommandTest.java
  src/test/java/seedu/foodrem/logic/parser/FoodRemParserTest.java
  src/test/java/seedu/foodrem/logic/parser/generalcommandparser/HelpCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/itemcommandparser/FilterTagCommandParserTest.java
Labels: deliverables.Individual, command.tags, command.items, command

#309 Parse markdown in placeholders table + fix style bug
  docs/_sass/admonitions.scss
  docs/_ug/Placeholders.md
Labels: priority.Medium, documentation.UserGuide, documentation, bug

#310 Clean up codebase
  docs/_ug/commandSummary/itemCommands/find.md
  src/main/java/seedu/foodrem/commons/core/index/Index.java
  src/main/java/seedu/foodrem/commons/enums/CommandType.java
  src/main/java/seedu/foodrem/logic/commands/generalcommands/ExitCommand.java
  src/main/java/seedu/foodrem/logic/commands/generalcommands/HelpCommand.java
  src/main/java/seedu/foodrem/logic/commands/generalcommands/ResetCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/DecrementCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/DeleteCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/EditCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/FilterTagCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/FindCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/IncrementCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/ListCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/NewCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/RemarkCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/SortCommand.java
  src/main/java/seedu/foodrem/logic/commands/itemcommands/ViewCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/DeleteTagCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/ListTagCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/NewTagCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/RenameTagCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/TagCommand.java
  src/main/java/seedu/foodrem/logic/commands/tagcommands/UntagCommand.java
  src/main/java/seedu/foodrem/model/FoodRem.java
  src/main/java/seedu/foodrem/model/ModelManager.java
  src/main/java/seedu/foodrem/model/item/ItemBoughtDate.java
  src/main/java/seedu/foodrem/model/item/ItemExpiryDate.java
  src/main/java/seedu/foodrem/model/item/ItemName.java
  src/main/java/seedu/foodrem/model/item/ItemPrice.java
  src/main/java/seedu/foodrem/model/item/ItemQuantity.java
  src/main/java/seedu/foodrem/model/item/ItemRemark.java
  src/main/java/seedu/foodrem/model/item/ItemUnit.java
  src/main/java/seedu/foodrem/model/item/NameContainsKeywordsPredicate.java
  src/main/java/seedu/foodrem/model/item/UniqueItemList.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemRemarksValidator.java
  src/main/java/seedu/foodrem/model/tag/Tag.java
  src/main/java/seedu/foodrem/model/tag/TagName.java
  src/main/java/seedu/foodrem/model/tag/TagNameContainsKeywordsPredicate.java
  src/main/java/seedu/foodrem/model/tag/UniqueTagList.java
  src/test/java/seedu/foodrem/logic/LogicManagerTest.java
  src/test/java/seedu/foodrem/logic/commands/generalcommands/HelpCommandTest.java
  src/test/java/seedu/foodrem/logic/commands/generalcommands/ResetCommandTest.java
  src/test/java/seedu/foodrem/logic/commands/itemcommands/FilterTagCommandTest.java
  src/test/java/seedu/foodrem/logic/commands/itemcommands/ListCommandTest.java
  src/test/java/seedu/foodrem/logic/commands/itemcommands/SortCommandTest.java
  src/test/java/seedu/foodrem/logic/parser/generalcommandparser/HelpCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/itemcommandparser/DecrementCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/itemcommandparser/IncrementCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/itemcommandparser/RemarkCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/itemcommandparser/SortCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/itemcommandparser/ViewCommandParserTest.java
  src/test/java/seedu/foodrem/model/item/NameContainsKeywordsPredicateTest.java
  src/test/java/seedu/foodrem/testutil/ItemsToSort.java
  src/test/java/seedu/foodrem/testutil/MessageToUser.java
  src/test/java/seedu/foodrem/testutil/SortFoodRem.java
  src/test/java/seedu/foodrem/ui/TestFxmlObject.java
  src/test/java/seedu/foodrem/viewmodels/ItemWithMessageTest.java
Labels: type.enhancement

#295 Update Developer Guide with v1.3
  docs/DeveloperGuide.md
  docs/_dg/Acknowledgements.md
  docs/_dg/Design.md
  docs/_dg/Effort.md
  docs/_dg/Implementation.md
  docs/_dg/ProductScope.md
  docs/_dg/UseCases.md
  docs/_dg/UserStories.md
  docs/_dg/implementations/GeneralFeatures.md
  docs/_dg/implementations/GeneralFeaturesDescription.md
  docs/_dg/implementations/ItemFeatures.md
  docs/_dg/implementations/ItemFeaturesDescription.md
  docs/_dg/implementations/StatisticsFeatures.md
  docs/_dg/implementations/StatisticsFeaturesDescription.md
  docs/_dg/implementations/TaggingFeatures.md
  docs/_dg/implementations/TaggingFeaturesDescription.md
  docs/_dg/implementations/general/Help.md
  docs/_dg/implementations/items/CreateItem.md
  docs/_dg/implementations/items/EditItem.md
  docs/_dg/implementations/items/SortItems.md
  docs/_dg/implementations/statistics/Statistics.md
  docs/_dg/implementations/tags/FilterByTag.md
  docs/_dg/implementations/tags/NewTag.md
  docs/_dg/implementations/tags/TagItem.md
  docs/diagrams/BetterModelClassDiagram.puml
  docs/diagrams/ModelClassDiagram.puml
  docs/diagrams/UndoRedoState0.puml
  docs/diagrams/UndoRedoState1.puml
  docs/diagrams/UndoRedoState2.puml
  docs/diagrams/UndoRedoState3.puml
  docs/diagrams/UndoRedoState4.puml
  docs/diagrams/UndoRedoState5.puml
  docs/images/BetterModelClassDiagram.png
  docs/images/ModelClassDiagram.png
  docs/images/StorageClassDiagram.png
  docs/images/UndoRedoState0.png
  docs/images/UndoRedoState1.png
  docs/images/UndoRedoState2.png
  docs/images/UndoRedoState3.png
  docs/images/UndoRedoState4.png
  docs/images/UndoRedoState5.png
Labels: documentation.DeveloperGuide

#311 Update README with v1.3 items
  README.md
  docs/images/Ui.png
Labels: documentation

#313 Refactor documentation
  .markdownlint.json
  docs/DeveloperGuide.md
  docs/SettingUp.md
  docs/Testing.md
  docs/_dg/Acknowledgements.md
  docs/_dg/Design.md
  docs/_dg/Effort.md
  docs/_dg/Implementation.md
  docs/_dg/UseCases.md
  docs/_dg/UserStories.md
  docs/_dg/implementations/GeneralFeatures.md
  docs/_dg/implementations/GeneralFeaturesDescription.md
  docs/_dg/implementations/ItemFeatures.md
  docs/_dg/implementations/ItemFeaturesDescription.md
  docs/_dg/implementations/StatisticsFeatures.md
  docs/_dg/implementations/StatisticsFeaturesDescription.md
  docs/_dg/implementations/TagFeatures.md
  docs/_dg/implementations/TaggingFeatures.md
  docs/_dg/implementations/TaggingFeaturesDescription.md
  docs/_dg/implementations/general/Help.md
  docs/_dg/implementations/items/CreateItem.md
  docs/_dg/implementations/items/EditItem.md
  docs/_dg/implementations/items/SortItems.md
  docs/_dg/implementations/statistics/Statistics.md
  docs/_dg/implementations/tags/FilterByTag.md
  docs/_dg/implementations/tags/NewTag.md
  docs/_dg/implementations/tags/TagItem.md
  docs/_ug/Commands.md
  docs/_ug/Troubleshooting.md
  docs/_ug/TryingFirstCommand.md
  docs/_ug/commands/ItemCommands.md
  docs/_ug/commands/TagCommands.md
  docs/_ug/placeholders/BOUGHT_DATE.md
  docs/_ug/placeholders/COMMAND_WORD.md
  docs/_ug/placeholders/EXPIRY_DATE.md
  docs/_ug/placeholders/INDEX.md
  docs/_ug/placeholders/ITEM_NAME.md
  docs/_ug/placeholders/KEYWORD.md
  docs/_ug/placeholders/PRICE.md
  docs/_ug/placeholders/QUANTITY.md
  docs/_ug/placeholders/REMARKS.md
  docs/_ug/placeholders/TAG_NAME.md
  docs/_ug/placeholders/UNIT.md
  docs/diagrams/CommitActivityDiagram.puml
  docs/diagrams/HelpSequenceDiagram.puml
  docs/images/CommitActivityDiagram.png
  docs/images/HelpSequenceDiagram.png
  docs/images/LogicStorageDIP.png
  docs/images/SeEduLogo.png
  docs/images/findAlexDavidResult.png
  docs/images/helpMessage.png
  docs/images/johndoe.png
  docs/images/request_access.png
  docs/team/johndoe.md
Labels: documentation.UserGuide, documentation.DeveloperGuide, documentation

#315 Fix UG bugs
  docs/_ug/commands/ItemCommands.md
  docs/_ug/commands/TagCommands.md
  docs/_ug/placeholders/COMMAND_WORD.md
Labels: documentation.UserGuide, documentation, bug

#318 Update UG after Refactoring
  docs/_dg/Acknowledgements.md
  docs/_dg/Design.md
  docs/_dg/InstructionsForManualTesting.md
  docs/_ug/Acknowledgements.md
  docs/_ug/ItemsTags.md
  docs/_ug/Layout.md
  docs/_ug/TryingFirstCommand.md
  docs/_ug/UsingFoodRem.md
  docs/_ug/commands/ItemCommands.md
  docs/_ug/commands/StatisticsCommands.md
  docs/_ug/commands/TagCommands.md
  docs/_ug/placeholders/BOUGHT_DATE.md
  docs/_ug/placeholders/COMMAND_WORD.md
  docs/_ug/placeholders/EXPIRY_DATE.md
  docs/_ug/placeholders/INDEX.md
  docs/_ug/placeholders/ITEM_NAME.md
  docs/_ug/placeholders/KEYWORD.md
  docs/_ug/placeholders/REMARKS.md
  docs/_ug/placeholders/TAG_NAME.md
  docs/_ug/placeholders/UNIT.md
  docs/images/ItemListBox.png
Labels: documentation.UserGuide

#323 Change bullet type for unlinted markdown segments
  docs/_ug/placeholders/COMMAND_WORD.md
  docs/_ug/placeholders/EXPIRY_DATE.md
  docs/_ug/placeholders/INDEX.md
  docs/_ug/placeholders/KEYWORD.md
  docs/_ug/placeholders/PRICE.md
  docs/_ug/placeholders/QUANTITY.md
  docs/_ug/placeholders/REMARKS.md
  docs/_ug/placeholders/TAG_NAME.md
  docs/_ug/placeholders/UNIT.md
Labels: type.enhancement, priority.Low, documentation.UserGuide, documentation

#322 Create glossary entries for "Placeholders" values
  docs/_glossary/BOUGHT_DATE.md
  docs/_glossary/COMMAND_WORD.md
  docs/_glossary/EXPIRY_DATE.md
  docs/_glossary/INDEX.md
  docs/_glossary/ITEM_NAME.md
  docs/_glossary/KEYWORD.md
  docs/_glossary/PRICE.md
  docs/_glossary/QUANTITY2.md
  docs/_glossary/REMARKS.md
  docs/_glossary/TAG_NAME.md
  docs/_glossary/UNIT.md
Labels: type.enhancement, priority.Low, documentation.UserGuide, documentation

#324 Fix find command description in Command Summary
  docs/_ug/commandSummary/itemCommands/find.md
Labels: documentation.UserGuide

#321 Add support to parse HTML in admonitions
  docs/_includes/admonitions.liquid
  docs/_includes/capturehtml.liquid
Labels: priority.Medium, documentation.UserGuide, documentation.DeveloperGuide, documentation, bug

#331 Fix continuous deployment names
  .github/workflows/build.yml
Labels: type.enhancement, priority.Medium, bug

#329 Ensure all commands uses a parser
  src/main/java/seedu/foodrem/logic/parser/FoodRemParser.java
  src/main/java/seedu/foodrem/logic/parser/generalcommandparser/ExitCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/generalcommandparser/ResetCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/ListCommandParser.java
  src/test/java/seedu/foodrem/logic/parser/FoodRemParserTest.java
Labels: priority.Medium, severity.Medium, command.tags, command.items, command, bug

#334 Fix minor errors for DG
  docs/_dg/InstructionsForManualTesting.md
  docs/_dg/ModelComponent.md
  docs/_dg/UseCases.md
Labels: deliverables.Group, documentation.DeveloperGuide

#333 Update website styling
  docs/_sass/foodrem.scss
Labels: priority.High, documentation.UserGuide, documentation.DeveloperGuide, documentation, bug

#335 Improve UG for v1.3
  docs/UserGuide.md
  docs/_glossary/GraphicalUserInterface.md
  docs/_ug/About.md
  docs/_ug/Commands.md
  docs/_ug/FAQ.md
  docs/_ug/HowToUseUserGuide.md
  docs/_ug/KeyDefinitions.md
  docs/_ug/Layout.md
  docs/_ug/Placeholders.md
  docs/_ug/TryingFirstCommand.md
  docs/_ug/UsingFoodRem.md
  docs/_ug/commandSummary/GeneralCommands.md
  docs/_ug/commandSummary/StatisticsCommands.md
  docs/_ug/commandSummary/generalCommands/exit.md
  docs/_ug/commandSummary/generalCommands/help.md
  docs/_ug/commandSummary/generalCommands/reset.md
  docs/_ug/commandSummary/generalCommandsExamples/exit.md
  docs/_ug/commandSummary/generalCommandsExamples/help.md
  docs/_ug/commandSummary/generalCommandsExamples/reset.md
  docs/_ug/commandSummary/statisticsCommands/stats.md
  docs/_ug/commandSummary/statisticsCommandsExamples/stats.md
  docs/_ug/commands/ItemCommands.md
  docs/_ug/commands/TagCommands.md
  docs/_ug/placeholders/ITEM_NAME.md
  docs/_ug/placeholders/KEYWORD.md
  docs/images/CommandInputBox.png
  docs/images/CommandOutputBox.png
  docs/images/FoodRemFullUi.png
  docs/images/ItemImage.png
  docs/images/ItemListBox.png
Labels: documentation.UserGuide

#336 Fix broken link fragment for GUI
  docs/_ug/Layout.md
Labels: priority.High, documentation.UserGuide, documentation, bug

#341 Fix UG inconsistencies found during peer review
  docs/_ug/commandSummary/ItemCommands.md
  docs/_ug/commands/ItemCommands.md
  docs/_ug/placeholders/ITEM_NAME.md
  docs/_ug/placeholders/TAG_NAME.md
Labels: documentation.UserGuide, documentation

#316 Centralise logic for validate string regex
  src/main/java/seedu/foodrem/commons/util/StringUtil.java
  src/main/java/seedu/foodrem/logic/parser/ParserUtil.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemNameValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemRemarksValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemUnitValidator.java
  src/main/java/seedu/foodrem/model/tag/TagName.java
  src/test/java/seedu/foodrem/logic/commands/CommandTestUtil.java
  src/test/java/seedu/foodrem/logic/parser/tagcommandparser/NewTagCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/tagcommandparser/RenameTagCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/tagcommandparser/TagCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/tagcommandparser/UntagCommandParserTest.java
  src/test/java/seedu/foodrem/model/tag/TagTest.java
  src/test/java/seedu/foodrem/storage/JsonAdaptedItemTest.java
  src/test/java/seedu/foodrem/testutil/MessageToUser.java
Labels: bug

#357 Modify view command to show error for negative index
  src/main/java/seedu/foodrem/commons/util/StringUtil.java
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/ViewCommandParser.java
Labels: bug

#358 Modify price validator to not accept 3.e1
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemPriceValidator.java
Labels: bug

#355 Prevent special chars in find command
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/FindCommandParser.java
  src/test/java/seedu/foodrem/logic/parser/itemcommandparser/FindCommandParserTest.java
Labels: bug

#359 Update UG
  docs/_ug/commands/ItemCommands.md
  docs/_ug/placeholders/PRICE.md
Labels: bug

#351 Fix UG after Peer Review
  docs/UserGuide.md
  docs/_ug/About.md
  docs/_ug/HowToUseUserGuide.md
  docs/_ug/Installation.md
  docs/_ug/QuickstartGuide.md
  docs/_ug/commands/GeneralCommands.md
  docs/_ug/commands/ItemCommands.md
  docs/_ug/placeholders/ITEM_NAME.md
  docs/_ug/placeholders/KEYWORD.md
  docs/_ug/placeholders/TAG_NAME.md
  docs/_ug/placeholders/UNIT.md
  docs/images/add-remark/$Remark.png
  docs/images/add-remark/CommandInterface.png
  docs/images/add-remark/ContextMenu.png
  docs/images/add-remark/CreateTest.png
  docs/images/add-remark/GradleRun.png
  docs/images/add-remark/ParserInterface.png
  docs/images/add-remark/RemarkBound.png
  docs/images/add-remark/RemarkComplete.png
  docs/images/add-remark/RemarkFailureOutput.png
  docs/images/add-remark/RemarkHello.png
  docs/images/add-remark/RemarkNotImplemented.png
  docs/images/admonishmentIcons/Danger.png
  docs/images/admonishmentIcons/Info.png
  docs/images/admonishmentIcons/Note.png
  docs/images/admonishmentIcons/Tip.png
  docs/images/admonishmentIcons/Warning.png
Labels: documentation.UserGuide

#361 Use custom fonts in GUI for consistency
  docs/_ug/KeyDefinitions.md
  docs/_ug/QuickstartGuide.md
  docs/_ug/commands/ItemCommands.md
  docs/_ug/commands/StatisticsCommands.md
  src/main/java/seedu/foodrem/ui/ItemCard.java
  src/main/resources/view/Fonts.css
  src/main/resources/view/FoodRem.css
  src/main/resources/view/HelpWindow.css
  src/main/resources/view/ItemListCard.fxml
  src/main/resources/view/MainWindow.fxml
  src/main/resources/view/fonts/Epilogue/OFL.txt
  src/main/resources/view/fonts/Epilogue/static/EpilogueBold.otf
  src/main/resources/view/fonts/Epilogue/static/EpilogueRegular.ttf
  src/main/resources/view/fonts/JetBrains_Mono/OFL.txt
  src/main/resources/view/fonts/JetBrains_Mono/static/JetBrainsMonoRegular.ttf
  src/main/resources/view/fonts/Montserrat/OFL.txt
  src/main/resources/view/fonts/Montserrat/static/MontserratBold.otf
  src/main/resources/view/fonts/Montserrat/static/MontserratRegular.ttf
Labels: type.enhancement, deliverables.Individual, priority.High

#369 Website Hot Fix
  docs/UserGuide.md
Labels: bug

#360 Add Statistics Command
  src/main/java/seedu/foodrem/commons/core/GuiSettings.java
  src/main/java/seedu/foodrem/commons/enums/CommandType.java
  src/main/java/seedu/foodrem/logic/commands/statscommands/StatsCommand.java
  src/main/java/seedu/foodrem/logic/parser/FoodRemParser.java
  src/main/java/seedu/foodrem/logic/parser/statsparser/StatsParser.java
  src/main/java/seedu/foodrem/model/item/Item.java
  src/main/java/seedu/foodrem/model/item/ItemExpiryDate.java
  src/main/java/seedu/foodrem/model/item/ItemPrice.java
  src/main/java/seedu/foodrem/model/item/ItemQuantity.java
  src/main/java/seedu/foodrem/model/item/itemcomparators/ItemCostComparator.java
  src/main/java/seedu/foodrem/model/util/SampleDataUtil.java
  src/main/java/seedu/foodrem/viewmodels/Stats.java
  src/main/java/seedu/foodrem/views/ItemView.java
  src/main/java/seedu/foodrem/views/StatsView.java
  src/main/java/seedu/foodrem/views/UiView.java
  src/main/resources/view/FoodRem.css
  src/main/resources/view/ItemListCard.fxml
  src/main/resources/view/MainWindow.fxml
  src/test/java/seedu/foodrem/logic/commands/generalcommands/HelpCommandTest.java
  src/test/java/seedu/foodrem/logic/parser/generalcommandparser/HelpCommandParserTest.java
Labels: command.items

#367 Update find command
  src/main/java/seedu/foodrem/commons/util/StringUtil.java
  src/main/java/seedu/foodrem/model/item/NameContainsKeywordsPredicate.java
  src/test/java/seedu/foodrem/model/item/NameContainsKeywordsPredicateTest.java
Labels: bug

#365 Apply negative index validation to all commands
  src/main/java/seedu/foodrem/commons/core/Messages.java
  src/main/java/seedu/foodrem/commons/util/StringUtil.java
  src/main/java/seedu/foodrem/logic/parser/FoodRemParser.java
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/DecrementCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/DeleteCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/EditCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/IncrementCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/RemarkCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/itemcommandparser/ViewCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/tagcommandparser/ListTagCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/tagcommandparser/TagCommandParser.java
  src/main/java/seedu/foodrem/logic/parser/tagcommandparser/UntagCommandParser.java
  src/test/java/seedu/foodrem/logic/parser/itemcommandparser/DecrementCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/itemcommandparser/EditCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/itemcommandparser/IncrementCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/tagcommandparser/TagCommandParserTest.java
  src/test/java/seedu/foodrem/logic/parser/tagcommandparser/UntagCommandParserTest.java
Labels: bug

#370 Fix date validation
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemBoughtDateValidator.java
  src/main/java/seedu/foodrem/model/item/itemvalidators/ItemExpiryDateValidator.java
  src/test/java/seedu/foodrem/model/item/itemvalidators/ItemBoughtDateValidatorTest.java
  src/test/java/seedu/foodrem/model/item/itemvalidators/ItemExpiryDateValidatorTest.java
  src/test/java/seedu/foodrem/testutil/MessageToUser.java
Labels: bug

#372 Fix stats command
  docs/_ug/commands/StatisticsCommands.md
  src/main/java/seedu/foodrem/model/item/ItemPrice.java
  src/main/java/seedu/foodrem/views/ItemView.java
Labels: bug

#371 Update find to match new find
  docs/_ug/commands/ItemCommands.md
  src/main/java/seedu/foodrem/commons/enums/CommandType.java
Labels: documentation.UserGuide, documentation, command

#375 Fix sorting by name
  src/main/java/seedu/foodrem/commons/util/StringUtil.java
  src/main/java/seedu/foodrem/model/item/ItemName.java
  src/main/java/seedu/foodrem/model/item/ItemRemark.java
  src/main/java/seedu/foodrem/model/item/ItemUnit.java
Labels: bug

#374 Update help command to use ITEM_NAME and TAG_NAME instead of NAME
  src/main/java/seedu/foodrem/commons/enums/CommandType.java
Labels: bug

#420 Fix UG Bugs reported in PED
  docs/_ug/Installation.md
  docs/_ug/TryingFirstCommand.md
  docs/_ug/commands/ItemCommands.md
  docs/_ug/placeholders/INDEX.md
  docs/_ug/placeholders/PRICE.md
  docs/_ug/placeholders/QUANTITY.md
  docs/_ug/placeholders/UNIT.md
Labels: documentation.UserGuide, bug

#422 Reformat markdown files
  docs/AboutUs.md
  docs/DevOps.md
  docs/SettingUp.md
  docs/UserGuide.md
  docs/_dg/InstructionsForManualTesting.md
  docs/_dg/UseCases.md
  docs/_ug/Acknowledgements.md
  docs/_ug/Features.md
  docs/_ug/HowToUseUserGuide.md
  docs/_ug/KeyDefinitions.md
  docs/_ug/TryingFirstCommand.md
  docs/_ug/commands/ItemCommands.md
Labels: type.enhancement, priority.Medium, documentation.UserGuide, documentation.DeveloperGuide, documentation

#424 Support autoglossary syntax
  docs/_config.yml
  docs/_includes/autoglossary.liquid
  docs/_layouts/page.html
  docs/_sass/foodrem.scss
Labels: type.enhancement, priority.High, documentation.UserGuide, documentation.DeveloperGuide, documentation

#426 Add bidirectional header linking
  docs/_includes/custom-head.html
  docs/_sass/foodrem.scss
Labels: type.enhancement, priority.High, documentation.UserGuide, documentation.DeveloperGuide, documentation

#429 Add minor changes in the Userguide
  README.md
  docs/_glossary/CommandLine.md
  docs/_glossary/REMARKS.md
  docs/_ug/Acknowledgements.md
  docs/_ug/Commands.md
  docs/_ug/FAQ.md
  docs/_ug/Features.md
  docs/_ug/HowToUseUserGuide.md
  docs/_ug/QuickstartGuide.md
  docs/_ug/Troubleshooting.md
  docs/_ug/commandSummary/GeneralCommands.md
  docs/_ug/commandSummary/ItemCommands.md
  docs/_ug/commandSummary/StatisticsCommands.md
  docs/_ug/commandSummary/TagCommands.md
  docs/_ug/commands/GeneralCommands.md
  docs/_ug/commands/ItemCommands.md
  docs/_ug/commands/StatisticsCommands.md
  docs/_ug/commands/TagCommands.md
  docs/_ug/placeholders/REMARKS.md
Labels: documentation.UserGuide, documentation

#435 Use stats parser to restrict command arguments
  src/main/java/seedu/foodrem/logic/parser/FoodRemParser.java
  src/main/java/seedu/foodrem/logic/parser/statsparser/StatsCommandParser.java
Labels: bug
